h1, h2 {
    text-align: center;
}

.container {
    display: grid;
    max-width: 900px;
    position: relative;
    margin: auto;
    gap: 10px;
    grid-template: repeat(10, 1fr) / repeat(6, 1fr);
}

h1, h2, h3 {
    font-family: monospace;
}

header {
    background: linear-gradient(#FF4500, #FA8072);
    grid-area: 1 / 1 / 3 / 7;
}

nav {
    background: linear-gradient(#FA8072, #FFDAB9);
    grid-area: 3 / 1 / 5 / 7;
}

.left {
    background: linear-gradient(#FFDAB9,#FFE4E1);
    grid-area: 5 / 1 / 9 / 3;
}

.right {
    background: linear-gradient(#FFDAB9,#FFE4E1);
    grid-area: 5 / 3 / 9 / 7;
}

.overlap {
    width: 150px;
    height: 150px;
    grid-area: 6 / 2 / 8 / 6;
    z-index: 5;
    background-color: orange;
}

footer {
    background: linear-gradient(#FFE4E1, white);
    grid-area: 9 / 1 / 11 / 7;
}

a {
    font-size: 20px;
    color: orangered;
}