* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/518097-background-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: beige;
    min-height: 100px;
    max-height: fit-content;
    min-width: fit-content;
    max-width: fill;
    padding: 0%;
    margin: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1em;
}

.breadcrumb>li {
    display: inline;
}

.breadcrumb li+li::before {
    padding: 10px;
    content: ">";
    color: greenyellow;
}

.breadcrumb a {
    text-decoration: none;
    color: green;
}

.breadcrumb a:hover {
    color: greenyellow;
    text-shadow: 2px 2px black;
}

#unorderedList a:hover {
    color: plum;
}

img {
    min-width: 200px;
    max-width: 200px;
    min-height: auto;
}

table {
    border: 4px solid coral;
    border-radius: 5px;
}

tbody td {
    background-color: aqua;
    opacity: 0.5;
}

button {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

#skeuomorphicButton {
    padding: 20px;
    margin: 20px;
    border: 2px solid purple;
    border-radius: 5px;
    color: white;
    text-shadow: 0 1px plum;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background: purple;
    background: linear-gradient(purple, plum);
}

#skeuomorphicButton:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: plum;
    background: linear-gradient(purple, plum);
}

#skeuomorphicButton:active {
    margin-top: 22px;
    box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: purple;
    background: linear-gradient(plum, purple);
}

#flatButton {
    margin-left: 20px;
    background-color: fuchsia;
    color: #fff;
    border: 2px solid deeppink;
    border-radius: 10px;
}

#flatButton:hover {
    background-color: magenta;
    transition: background-color .15s, font-size .15s;
    font-size: 18px;
}

#flatButton:active {
    border-color: #fff;
}

tfoot {
    text-align: right;
}

.container {
    background-color: brown;
}

.box {
    background-color: chocolate;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
}

.box #middle {
    height: 150px;
}

#flex,
#flexstart,
#flexend,
#center,
#spacearound,
#spacebetween {
    display: flex;
    text-align: center;
}

#block {
    text-align: center;
}

#flexstart {
    justify-content: start;
}

#flexend {
    justify-content: end;
}

#center {
    justify-content: center;
}

#spacearound {
    justify-content: space-around;
}

#spacebetween {
    justify-content: space-between;
}

.footerFlexBox {
    margin-top: 30px;
}

.footerFlexBox a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
}