.grid {
    border: 5px navy solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.a,
.b,
.c,
.d,
.e {
    border: 5px aqua solid;
    border-radius: 20px;
    color: black;
    background-color: aliceblue;
}

.e {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*.inlinegrid {
    display: inline-grid;
}*/

.footergrids {
    margin-top: 80px;
    font-size: 24px;
}